html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

ul li::marker {
  color: blue;
  font-size: 1.2em;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  width: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link:hover {
  background-color: #3f2a;
}

.link-download {
  padding-left: 30px;
  width: 700;
  font-size: 18px;
  color: #3f2aff;
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("/img/download.png");
}

.link-download:hover {
  color: #3f2a;
  background-image: url("/img/download.png");
}

.a-link {
  border-bottom: 1px solid #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

/***** article *****/
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.heading-lvl-1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.heading-lvl-2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.heading-lvl-3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #333;
}

.text {
  width: 872px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.boreder {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right;
  background-repeat: no-repeat;
}

.gray-box:not(:last-child) {
  margin-bottom: 40px;
}

.gray-box-image1 {
  background-image: url(/img/decorate-1.png);
}
.gray-box-image2 {
  background-image: url(/img/decorate-2.png);
}

.gray-box .text {
  width: 692px;
  margin-bottom: 10px;
}

.gray-box .text:last-child {
   margin-bottom: 0;
}

.list {
  margin: 0;
  padding-left: 15px;
}

.item {
  font-size: 20px;
  color: #3f2aff
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  margin-bottom: 40px;
}

.figure {
  margin: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.figure-caption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/***** Module *****/
.module-container {
  font-family: Arial, sans-serif;
  max-width: 1170px;
  margin: 0 auto;
}

.module-container:not(:last-child) {
  margin-top: 50px;
}

.logo-2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.back-link {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  color: #3F2AFF;
  font-size: 20px;
  padding-left: 52px;
  background-size: 40px 15px;
  background: url(/img/Arrow.svg) left center no-repeat;
}

.module-heading-lvl-1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #3f2aff;
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.card {
  position: relative;
  width: 572px;
  height: 505px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  overflow: hidden;
}

.card-images {
  height: 180px;
  background-size: cover;
  margin: 0px;
  margin-bottom: 25px;
}

.card-iamge-1 {
  background: url('/img/module-1.jpg');
}

.card-iamge-2 {
  background: url('/img/module-2.jpg');

}
.card-iamge-3 {
  background: url('/img/module-3.jpg');

}
.card-iamge-4 {
  background: url('/img/module-4.jpg');

}

.card-content {
  margin-left: 25px;
}

.card-title {
  font-size: 40px;
  color: #3f2aff;
  margin: 0 0 2px 0;
}

.card-info {
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  padding: 0;
}

.card-number {
  position: absolute;;
  text-align: right;
  font-size: 40px;
  color: #EAEAEA;
  padding: 10px;
  bottom: 10px;
  right: 10px;
}

.button-container {
  text-align: center;
  margin-bottom: 50px;
}

.show-more-button {
  width: 274px;
  height: 70px;
  font-weight: 700;
  padding: 24px 74px;
  font-size: 18px;
  color: #3F2AFF;
  background-color: #fff;
  border: 2px solid #3F2AFF;
  box-sizing: border-box;
  cursor: pointer;
}

.show-more-button:hover {
  background-color: #f3f3f3;
}
